
<!DOCTYPE html>
<html>
    <head>
        <title>Recipes</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css">

    </head>
    <body>
        <div class="row">
            <div class="ui fixed inverted menu">
                <div style="margin-top: 0%; height: 54px;"class="ui container">
                    <div class="header item"><i style="font-size: 2em;" class="blogger icon"></i>Recipe</div>
                    <a href="/" class="item">Home</a>
                    <a href="/random"><button style="height: 54px;"class="ui black button active" type="submit">Random recipe</button></a>
                    <div class="right menu">
                        <a href="/about"><button style="height: 54px;"class="ui black button ">About</button></a>
                    </div>  
                </div>
            </div>
           </div>