<%- include("partials/header") %>
<div style="margin-top: 7.0em;" class="ui main text container segment">
    <div class="ui huge header">Nutritional Values</div>
    <div class="item">
        
        <%- body1 %>
    </div>
    
</div>


<%- include("partials/footer") %>